<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div
          formGroupName="userData"
          id="user-data">
          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input
              type="text"
              id="nickname"
              formControlName="nickname"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control">
            <span
              class="help-block"
              *ngIf="!requestForm.get('userData.email') && requestForm.get('userData.email').touched">Please enter a valid email!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="size">Bike Size</label>
          <select
            id="size"
            formArrayName="size"
            class="form-control">
            <option *ngFor="let size of bikeSizes" [value]="size">{{size}}</option>
          </select>
        </div>
        <p *ngIf="requestForm.get('userData').invalid && requestForm.get('userData').touched">User Data is invalid!</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{gender}}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit">Submit
        </button>
      </form>
    </div>
  </div>
</div>
